html {
   height: 100vh;
   background-image: url(../public/rickymortywp.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.App {
   height: 100vh;
   text-align: center;



}


