.searchBar {
  background-color: #222831;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

.input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 1em;
  color: white;
  background-color: #393e46;
}

.btn {
  background-color: #00adb5;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 8px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 30px;
}

.btn:hover {
  background-color: #01888f;
}
